auto-save-list/
elpa/
!elpa/.gitkeep
eshell/
etc/rc-*.el
games/
request/
url/
var/elfeed/
var/nano-emacs/
var/recentf
var/simplenote2/
var/tramp/persistency
.persistent-scratch
bookmarks
network-security.data
