auto-save-list/
elpa/
!elpa/.gitkeep
eshell/
etc/elfeedrc.el
etc/ercrc.el
etc/snrc.el
games/
request/
url/
var/elfeed/
var/nano-emacs/
var/recentf
var/simplenote2/
var/tramp/persistency
.persistent-scratch
network-security.data
